{
  "port":20000,
  "webhookToken":<yourToken>,
  "pageToken":<yourToken>
  "imageHosting":<localhost>,
  "ssl":{
    "ca"  :<yourCa_bundle>,
    "key" :<yourPrivate>,
    "cert":<yourCertificate>
  },
  "path":<path of testdata>,
  "path_save":<path of images created by test.py>"
}
