{
  "port":20000,
  "webhookToken":<yourToken>,
  "pageToken":<yourToken>
  "imageHosting":<localhost>,
  "ssl":{
    "ca"  :<yourCa_bundle>,
    "key" :<yourPrivate>,
    "cert":<yourCertificate>
  }
}
